:root {
  --mainColor: #e67e22;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
  color: #555;
  line-height: 1;
}

.section-hero {
  background-color: #fdf2e9;
  padding: 9.6rem 0;
}

.hero {
  margin: 0 auto;
  padding: 0 3.2rem;
  max-width: 130rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.63rem;
}

.heading-primary {
  font-size: 5.2rem;
  font-family: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
}

.btn--full:link, .btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover, .btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link, .btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover, .btn--outline:active {
  background-color: #fdf2e9;
  /* border: 3px solid #fff; */
  box-shadow: inset 0 0 0 2px #fff;

}

.hero-img {
  width: 100%;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.customers {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.customers-p {
  display: flex;
}

.customer-pic {
  height: 4.8rem;
  width: 4.8rem;
  border: 0.3rem solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.customer-pic:not(:first-child) {
  margin-left: -1.6rem;
}

.achiv {
  font-size: 1.7rem;
  line-height: 1.6;
  font-weight: 600;
}

.achiv span {
  color: #b8651b;
  font-weight: 800;
}